*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html {
    font-size: calc(1.2rem + 0.1vw);
    line-height: 1.5;
}

body {
    font-family: system-ui;
}

.site-header {
    height: 100vh;
    text-align: center;

    .book-ofthe-month {
            display: inline;
            margin-inline: 1rem;  
        }
}


article {
    padding: 0;
    list-style: none;
}

.Novals {
    
        width: fit-content;
        margin-inline: auto;
        

    li {
        display: inline;
        margin-inline: 1rem;
       
    }
}

footer {
    text-align: center;
}